/* ---------------Classes for Auth page------------------- */
.container-user{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.userRegister{
    width: 430px;
    min-height: 530px;
    padding: 1rem;
    background-color: white;
    border-radius: 1rem 2rem;
    
}
.line{
    width: 100%;
}
.user-logo{
    color: #fe424d;
   
}


@media (max-width:500px) {
    .userRegister{
        width: 350px;
    }
}