<footer>

        <div class="footer-container">
			<div class="footer-logo">
				<h2>WanderLust</h2>
				<p>Discover hidden gems, your gateway to exploration</p>
				<div class="social">
                <a href="#" class="fa-brands fa-github"></a>
				<a href="#" class="fa-brands fa-square-instagram"></a>
				<a href="#" class="fa-brands fa-linkedin"></a>
                </div>
                <div class="footer-contactus">
                    <button data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Contact us</button>
					<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog">
						  <div class="modal-content">
							<div class="modal-header">
							  <h1 class="modal-title fs-5" id="exampleModalLabel">Contact Us</h1>
							  <div type="button" class="btn-close" style="background-color: transparent; color: black;" data-bs-dismiss="modal" aria-label="Close"></div>
							</div>
							<div class="modal-body">
							  <form action="https://formsubmit.co/heyiamayrush@gmail.com" method="POST">
								<div class="mb-3">
								  <label for="recipient-name" class="col-form-label" style="justify-content: start; display: flex;">Email :</label>
								  <input type="email" name="Email" class="form-control" id="recipient-name" required>
								</div>
								<div class="mb-3">
								  <label for="message-text" class="col-form-label" style="justify-content: start; display: flex;">Message :</label>
								  <textarea type="text" name="message" class="form-control" id="message-text" required></textarea>
								</div>
								<div class="modal-footer">
									<button type="button" style="background-color: black; padding: 7px; font-size: 1rem;" data-bs-dismiss="modal">Close</button>
									<button type="submit" style="padding: 7px; font-size: 1rem;" >Send message</button>
								</div>
							  </form>
							</div>
						  </div>
						</div>
					  </div>
                </div>
			</div>
			<div class="footer-links">
				<div class="learning">
					<p>Learn</p>
					<div class="learn-points">
						<a href="#">Resources</a>
						<a href="#">Blog</a>
						<a href="#">FAQs</a>
						<a href="#">ThinkShop</a>
					</div>
				</div>
				<div class="About">
					<p>About</p>
					<div class="learn-points">
						<a href="#">Careers</a>
						<a href="#">Team</a>
						<a href="#">Partners</a>
						<a href="#">Contact Us</a>
					</div>
				</div>
			</div>
		</div>
        <hr>
		<div class="copywright-tag">&copy; WanderLust Private Limited 
            <p><a href="#">privacy Terms</a></p>
        </div>

</footer>