<footer>

        <div class="footer-container">
			<div class="footer-logo">
				<h2>WanderLust</h2>
				<p>Discover hidden gems, your gateway to exploration</p>
				<div class="social">
                <a href="#" class="fa-brands fa-github"></a>
				<a href="#" class="fa-brands fa-square-instagram"></a>
				<a href="#" class="fa-brands fa-linkedin"></a>
                </div>
                <div class="footer-contactus">
                    <button>Contact us</button>
                </div>
			</div>
			<div class="footer-links">
				<div class="learning">
					<p>Learn</p>
					<div class="learn-points">
						<a href="#">Resources</a>
						<a href="#">Blog</a>
						<a href="#">FAQs</a>
						<a href="#">ThinkShop</a>
					</div>
				</div>
				<div class="About">
					<p>About</p>
					<div class="learn-points">
						<a href="#">Careers</a>
						<a href="#">Team</a>
						<a href="#">Partners</a>
						<a href="#">Contact Us</a>
					</div>
				</div>
			</div>
		</div>
        <hr>
		<div class="copywright-tag">&copy; WanderLust Private Limited 
            <p><a href="#">privacy Terms</a></p>
        </div>

</footer>