<% layout("/layout/auth") %>

<!-- ------------------------------ Main content starts ---------------------------------------- -->

<div class="row userRegister">
    <div class="col-12 d-flex flex-column justify-content-center align-items-center">
        <div class="d-flex flex-row justify-content-center align-items-end  gap-1">
            <h1><b>Login</b> <small style="padding: 2px;">on <span class="user-logo">WanderLust</span></small></h1>  
        </div>
        <hr class="line">
        <form action="/login" class="col-12"  method="post" id="Form">
            <br>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" id="username" name="username" placeholder="Enter Username" class="form-control" required>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">password</label>
                <input type="password" id="password" name="password" placeholder="Enter Username" class="form-control" required>
            </div>

            <button class="btn btn-dark col-12 " type="submit" id="submitBtn">Login</button>
            <br><br>
        </form>
        
        <p>New user? <a href="/signup">Sign Up</a></p>
        <hr class="line">
            <a style="color: black; font-size: 0.8rem;" href="/listing"><i class="fa-solid fa-arrow-left"></i> &nbsp;<b>Back to home page</b> </a>

    </div>
</div> 
</div> 
<!-- ------------------------------ Main content ends ---------------------------------------- -->

