<% layout("/layout/auth") %>

<!-- ------------------------------ Main content starts ---------------------------------------- -->

<div class="row userRegister">
        <div class="col-12 d-flex flex-column justify-content-center align-items-center " >
            <div class="d-flex flex-row justify-content-center align-items-end  gap-1">
                <h1><b>SignUp</b>  <h4 style="padding: 2px;">on <span class="user-logo">WanderLust</span></h4></h1> 
            </div>
             <hr class="line">
            <form action="/signup" method="post" class="needs-validation col-12"  novalidate>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" id="username" name="username" placeholder="Enter Username" class="form-control" required>
                    <div class="valid-feedback">
                        Looks Good !
                    </div>
                </div>
    
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" id="email" name="email" placeholder="Enter Email" class="form-control" required>
                </div>
    
                <div class="mb-3">
                    <label for="password" class="form-label">password</label>
                    <input type="password" id="password" name="password" placeholder="Enter password" class="form-control" required>
                    <div class="valid-feedback">
                        Looks Good !
                    </div>
                </div>
    
                <button class="btn btn-dark col-12">Sign Up</button>
                <br><br>
            </form>
    
            <p>Already registerd? <a href="/login">Login</a></p>
            <hr class="line">
            <a style="color: black; font-size: 0.8rem;" href="/listing"><i class="fa-solid fa-arrow-left"></i> &nbsp;<b>Back to home page</b> </a>
    
        </div>
</div>
     
 

<!-- ------------------------------ Main content ends ---------------------------------------- -->


