<% layout("/layout/boilerplate") %>



<div class="home-page ">
    
    <img src="https://images.unsplash.com/photo-1490578474895-699cd4e2cf59?q=80&w=1471&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="home-img" alt="img">
    <div class="content">
        <div class="heading1">THE BEST HOLIDAY EXPERIENCE </div>
        <div class="heading2">Stay Like a Local...</div>
        <br>
        <button class="btn btn-outline-primary"><a class="explore-page-link" href="/listing">Explore</a></button>



    </div>
</div>