<% layout("/layout/boilerplate") %>


<div class="row">
  <div class="col-8  offset-2">
    <br>
    <h2>Create a New Listing</h2>
    <br>
    <form method="post" action="/listing" class="needs-validation" novalidate enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" placeholder="Enter title" class="form-control" required>
            <div class="valid-feedback">
                Looks Good !
            </div>
        </div>
        
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" placeholder="Enter description" id="" cols="30" rows="10" class="form-control" required></textarea>
            <div class="invalid-feedback">
                Please enter a short description !
             </div>
        </div>
        

        <div class="mb-3">
            <label for="img" class="form-label"> Uplode Image</label>
        <input type="file" name="listing[img]"  class="form-control" required>
        </div>
       
        <div class="row">
        <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
        <input  name="listing[price]" placeholder="1,200" class="form-control" required>
        <div class="invalid-feedback">
           Please enter a valid Price !
        </div>
        </div>
        
        <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input type="text" name="listing[country]" placeholder="India" class="form-control" required>
            <div class="invalid-feedback">
                Please enter a country name !
             </div>
        </div>
        </div>

        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
        <input type="text" name="listing[location]" placeholder="Enter location" class="form-control" required>
        <div class="invalid-feedback">
            Please enter a Location !
         </div>
        </div>

        <div class="mb-3 ">
            <label for="category" class="form-label">Choose Category</label>
            <select name="listing[category]" class="form-control" required >
              <option value="">Choose Below</option>
              <option value="Trending">Trending</option>
              <option value="Mountain">Mountain</option>
              <option value="Rooms">Rooms</option>
              <option value="Arctic">Arctic</option>
              <option value="Camping">Camping</option>
              <option value="Farms">Farms</option>
              <option value="Beach">Beach</option>
              <option value="Amezing_Pools">Amezing_Pools</option>
              <option value="Iconic_cities">Iconic_cities</option>
              <option value="Castles">Castles</option>
            </select>
            <!-- <label for="category" class="form-label">Category</label>
        <input type="text" name="listing[category]" placeholder="Enter location" class="form-control" required>
        <div class="invalid-feedback">
            Please enter a Location !
         </div>
                 -->
        </div>
        

        <button class="btn btn-dark add-btn">ADD</button>

        <br><br><br>
    </form>
 </div> 
</div>



